In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read csv file

cs_satisfaction_data = pd.read_csv('../data/raw_data/cs_satisfaction_data.csv')

In [3]:
# Review first 5 rows

cs_satisfaction_data.head()

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,NaN,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,b07ec1b0-f376-43b6-86df-ec03da3b2e16,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,NaN,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,200814dd-27c7-4149-ba2b-bd3af3092880,Inbound,Order Related,Installation/demo,NaN,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,NaN,NaN,NaN,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,eb0d3e53-c1ca-42d3-8486-e42c8d622135,Inbound,Returns,Reverse Pickup Enquiry,NaN,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,NaN,NaN,NaN,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,ba903143-1e54-406c-b969-46c52f92e5df,Inbound,Cancellation,Not Needed,NaN,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,NaN,NaN,NaN,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5

In [4]:
# Let's review the shape of the dataset - It has 85k rows and 20 columns

cs_satisfaction_data.shape

(85907, 20)

In [5]:
# Let's validate that the column Unique id has 85907 unique values. If that's the case, we will drop it as we won't use it in our analysis.

cs_satisfaction_data.nunique()

Unique id                  85907
channel_name                   3
category                      12
Sub-category                  57
Customer Remarks           18231
Order_id                   67675
order_date_time            13766
Issue_reported at          30923
issue_responded            30262
Survey_response_Date          31
Customer_City               1782
Product_category               9
Item_price                  2789
connected_handling_time      211
Agent_name                  1371
Supervisor                    40
Manager                        6
Tenure Bucket                  5
Agent Shift                    5
CSAT Score                     5
dtype: int64

In [6]:
# As the Unique id column has 85907, we will drop it

cs_satisfaction_data = cs_satisfaction_data.drop(['Unique id'], axis=1)
display(cs_satisfaction_data.head())

,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,NaN,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,NaN,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,Inbound,Order Related,Installation/demo,NaN,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,NaN,NaN,NaN,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,Inbound,Returns,Reverse Pickup Enquiry,NaN,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,NaN,NaN,NaN,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,Inbound,Cancellation,Not Needed,NaN,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,NaN,NaN,NaN,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5

In [7]:
# Now that we dropped the column that we are not going to use in our analysis, we will create a function to rename our columns with lower case and underscores for consistency.

def rename_columns(df: pd.DataFrame) -> pd.DataFrame:
    '''
    This function picks a Pandas DataFrame and renames specific columns in lower case
    Input: Pandas dataframe
    Output: Pandas dataframe with renamed columns
    
    '''

    columns = []
    for colname in df.columns:
        columns.append(colname.lower())
    
    df.columns = columns

    df = df.rename(columns={'sub-category':'sub_category',
                                 'customer remarks':'customer_remarks',
                                 'issue_reported at':'issue_reported_at',
                                 'tenure bucket':'tenure_bucket',
                                 'agent shift':'agent_shift',
                                 'csat score':'csat_score',
                                 'issue_responded':'issue_responded_at'}, inplace=True)
    return df

In [8]:
# Let's apply the function to the dataframe

rename_columns(cs_satisfaction_data)
print(cs_satisfaction_data.columns)

Index(['channel_name', 'category', 'sub_category', 'customer_remarks',
       'order_id', 'order_date_time', 'issue_reported_at',
       'issue_responded_at', 'survey_response_date', 'customer_city',
       'product_category', 'item_price', 'connected_handling_time',
       'agent_name', 'supervisor', 'manager', 'tenure_bucket', 'agent_shift',
       'csat_score'],
      dtype='object')

In [9]:
# Let's check how many null values we have per column

cs_satisfaction_data.isna().sum()/len(cs_satisfaction_data)*100

# As the amount of null values is very big in this dataset, we won't drop any rows. Instead, we will review these columns in order to understand if we can rename some of their values.

channel_name                0.000000
category                    0.000000
sub_category                0.000000
customer_remarks           66.542889
order_id                   21.222950
order_date_time            79.962052
issue_reported_at           0.000000
issue_responded_at          0.000000
survey_response_date        0.000000
customer_city              80.119199
product_category           79.983005
item_price                 79.971364
connected_handling_time    99.718300
agent_name                  0.000000
supervisor                  0.000000
manager                     0.000000
tenure_bucket               0.000000
agent_shift                 0.000000
csat_score                  0.000000
dtype: float64

In [10]:
# Let's review the datatype of these columns to check if they are correct

cs_satisfaction_data.dtypes

channel_name                object
category                    object
sub_category                object
customer_remarks            object
order_id                    object
order_date_time             object
issue_reported_at           object
issue_responded_at          object
survey_response_date        object
customer_city               object
product_category            object
item_price                 float64
connected_handling_time    float64
agent_name                  object
supervisor                  object
manager                     object
tenure_bucket               object
agent_shift                 object
csat_score                   int64
dtype: object

In [11]:
# Let's review some columns that have null values or specific data types in order to understand if we will need to modify their data

# COLUMN: customer_remarks

#cs_satisfaction_data['customer_remarks'].head(10) 
# As we can see here, this column is correctly defined as "object" because it accepts letters and special characters. In this case, it's normal that not everyone leaves a message after 
# the interactions with the call center. Therefore, we will fill those null values with "No remarks provided".

cs_satisfaction_data['customer_remarks'] = cs_satisfaction_data['customer_remarks'].fillna('No remarks provided')
cs_satisfaction_data['customer_remarks'].head(10)

0                                  No remarks provided
1                                  No remarks provided
2                                  No remarks provided
3                                  No remarks provided
4                                  No remarks provided
5                                  No remarks provided
6                                  No remarks provided
7                                            Very good
8    Shopzilla app and it's all coustomer care serv...
9                                  No remarks provided
Name: customer_remarks, dtype: object

In [12]:
# COLUMN: order_id. The data type is correct as the columns' values have some special characters.

In [13]:
# COLUMNS: customer_city, product_category, item_price, connected_handling_time

# These columns have around 80% missing values. Because of this, and the fact that they show data on products rather than on the customer satisfaction team, we will drop them.

cs_satisfaction_data = cs_satisfaction_data.drop(['customer_city','product_category','item_price','connected_handling_time'], axis=1)
display(cs_satisfaction_data)

,channel_name,category,sub_category,customer_remarks,order_id,order_date_time,issue_reported_at,issue_responded_at,survey_response_date,agent_name,supervisor,manager,tenure_bucket,agent_shift,csat_score
0,Outcall,Product Queries,Life Insurance,No remarks provided,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,Outcall,Product Queries,Product Specific Information,No remarks provided,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,Inbound,Order Related,Installation/demo,No remarks provided,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,Inbound,Returns,Reverse Pickup Enquiry,No remarks provided,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,Inbound,Cancellation,Not Needed,No remarks provided,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85902,Inbound,Refund Related,Refund Enquiry,No remarks provided,1b5a2b9c-a95f-405f-a42e-5b1b693f3dc9,NaN,30/08/2023 23:20,31/08/2023 07:22,31-Aug-23,Brandon Leon,Ethan Tan,William Kim,On Job Training,Morning,4
85903,Inbound,Order Related,Seller Cancelled Order,Supported team customer executive good,d0e8a817-96d5-4ace-bb82-adec50398e22,NaN,31/08/2023 08:15,31/08/2023 08:17,31-Aug-23,Linda Foster,Noah Patel,Emily Chen,>90,Morning,5
85904,Inbound,Order Related,Order status enquiry,need to improve with proper details.,bdefe788-ccec-4eda-8ca4-51045e68db8a,NaN,31/08/2023 18:57,31/08/2023 19:02,31-Aug-23,Kimberly Martinez,Aiden Patel,Olivia Tan,On Job Training,Evening,5
85905,Inbound,Feedback,UnProfessional Behaviour,No remarks provided,a031ec28-0c5e-450e-95b2-592342c40bc4,NaN,31/08/2023 19:59,31/08/2023 20:00,31-Aug-23,Daniel Martin,Olivia Suzuki,Olivia Tan,>90,Morning,4
85906,Inbound,Returns,Reverse Pickup Enquiry,No remarks provided,3230db30-f8da-4c44-8636-ec76d1d3d4f3,NaN,31/08/2023 23:36,31/08/2023 23:37,31-Aug-23,Elizabeth Guerra,Nathan Patel,Jennifer Nguyen,On Job Training,Evening,5

In [14]:
# COLUMNS: order_id, order_date_time

# After reviewing a little bit more the data and thinking of what we want to analyze, we will also drop columns order_id and order_date_time. We will drop the first one because, even
# if we can see that there were more than one interaction for one order, we would like to analyze the customer team behaviour as a whole and not as isolated cases. Regarding the second one,
# this column will be dropped as we also have around 80% of missing values.

cs_satisfaction_data = cs_satisfaction_data.drop(['order_id', 'order_date_time'], axis=1)
display(cs_satisfaction_data)

,channel_name,category,sub_category,customer_remarks,issue_reported_at,issue_responded_at,survey_response_date,agent_name,supervisor,manager,tenure_bucket,agent_shift,csat_score
0,Outcall,Product Queries,Life Insurance,No remarks provided,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,Outcall,Product Queries,Product Specific Information,No remarks provided,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,Inbound,Order Related,Installation/demo,No remarks provided,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,Inbound,Returns,Reverse Pickup Enquiry,No remarks provided,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,Inbound,Cancellation,Not Needed,No remarks provided,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85902,Inbound,Refund Related,Refund Enquiry,No remarks provided,30/08/2023 23:20,31/08/2023 07:22,31-Aug-23,Brandon Leon,Ethan Tan,William Kim,On Job Training,Morning,4
85903,Inbound,Order Related,Seller Cancelled Order,Supported team customer executive good,31/08/2023 08:15,31/08/2023 08:17,31-Aug-23,Linda Foster,Noah Patel,Emily Chen,>90,Morning,5
85904,Inbound,Order Related,Order status enquiry,need to improve with proper details.,31/08/2023 18:57,31/08/2023 19:02,31-Aug-23,Kimberly Martinez,Aiden Patel,Olivia Tan,On Job Training,Evening,5
85905,Inbound,Feedback,UnProfessional Behaviour,No remarks provided,31/08/2023 19:59,31/08/2023 20:00,31-Aug-23,Daniel Martin,Olivia Suzuki,Olivia Tan,>90,Morning,4
85906,Inbound,Returns,Reverse Pickup Enquiry,No remarks provided,31/08/2023 23:36,31/08/2023 23:37,31-Aug-23,Elizabeth Guerra,Nathan Patel,Jennifer Nguyen,On Job Training,Evening,5

In [15]:
# COLUMN: tenure_bucket

# The values of this column will be renamed in order for them to be more understandable

cs_satisfaction_data['tenure_bucket'].value_counts()

tenure_bucket
>90                30660
On Job Training    25523
31-60              11665
0-30               11318
61-90               6741
Name: count, dtype: int64

In [16]:
# Let's create a function to replace these values

def replace_values(df: pd.DataFrame) -> pd.DataFrame:
    '''
    This function takes the values from any dataframe that contains the column "tenure_bucket" with the specific values and renames those.
    Input: Pandas DataFrame
    Output: Pandas DataFrame with values replaced
    '''

    replacements = {
        '0-30':'Less than 30 days on job',
        '31-60':'Between 31 and 60 days on job',
        '61-90':'Between 61 and 90 days on job',
        '>90':'More than 90 days on job',
        'On Job Training':'On job training'
    }

    df['tenure_bucket'].replace(replacements, inplace=True) # If inplace = True is not added inside of the function, the changes are not performed in the dataframe. Have seen this before.
    
    return df

In [17]:
# Let's apply the function to our dataframe and double check the value counts

replace_values(cs_satisfaction_data)
cs_satisfaction_data['tenure_bucket'].value_counts()

# One way to avoid this issue would be by doing the replacements without a function

/var/folders/qs/x8zhfsxx1635k24vswp2rjq80000gn/T/ipykernel_58168/2875885217.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['tenure_bucket'].replace(replacements, inplace=True)

tenure_bucket
More than 90 days on job         30660
On job training                  25523
Between 31 and 60 days on job    11665
Less than 30 days on job         11318
Between 61 and 90 days on job     6741
Name: count, dtype: int64

In [18]:
# After some analysis, we will also drop the column survey_response_date as this doesn't depend on the customer satisfaction team

cs_satisfaction_data = cs_satisfaction_data.drop(['survey_response_date'], axis=1)
display(cs_satisfaction_data)

,channel_name,category,sub_category,customer_remarks,issue_reported_at,issue_responded_at,agent_name,supervisor,manager,tenure_bucket,agent_shift,csat_score
0,Outcall,Product Queries,Life Insurance,No remarks provided,01/08/2023 11:13,01/08/2023 11:47,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On job training,Morning,5
1,Outcall,Product Queries,Product Specific Information,No remarks provided,01/08/2023 12:52,01/08/2023 12:54,Vicki Collins,Dylan Kim,Michael Lee,More than 90 days on job,Morning,5
2,Inbound,Order Related,Installation/demo,No remarks provided,01/08/2023 20:16,01/08/2023 20:38,Duane Norman,Jackson Park,William Kim,On job training,Evening,5
3,Inbound,Returns,Reverse Pickup Enquiry,No remarks provided,01/08/2023 20:56,01/08/2023 21:16,Patrick Flores,Olivia Wang,John Smith,More than 90 days on job,Evening,5
4,Inbound,Cancellation,Not Needed,No remarks provided,01/08/2023 10:30,01/08/2023 10:32,Christopher Sanchez,Austin Johnson,Michael Lee,Less than 30 days on job,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...
85902,Inbound,Refund Related,Refund Enquiry,No remarks provided,30/08/2023 23:20,31/08/2023 07:22,Brandon Leon,Ethan Tan,William Kim,On job training,Morning,4
85903,Inbound,Order Related,Seller Cancelled Order,Supported team customer executive good,31/08/2023 08:15,31/08/2023 08:17,Linda Foster,Noah Patel,Emily Chen,More than 90 days on job,Morning,5
85904,Inbound,Order Related,Order status enquiry,need to improve with proper details.,31/08/2023 18:57,31/08/2023 19:02,Kimberly Martinez,Aiden Patel,Olivia Tan,On job training,Evening,5
85905,Inbound,Feedback,UnProfessional Behaviour,No remarks provided,31/08/2023 19:59,31/08/2023 20:00,Daniel Martin,Olivia Suzuki,Olivia Tan,More than 90 days on job,Morning,4
85906,Inbound,Returns,Reverse Pickup Enquiry,No remarks provided,31/08/2023 23:36,31/08/2023 23:37,Elizabeth Guerra,Nathan Patel,Jennifer Nguyen,On job training,Evening,5

In [19]:
# COLUMNS: issue_reported_at, issue_responded_at

# As a last modification, we will change the data type from the columns issue_reported_at and issue_responded_at from object to datetime. We will do this in order to be able to perform
# arithmetic calculations with these columns as we would like to analyze how long does it take for an agent to respond to the issue.

cs_satisfaction_data['issue_reported_at'] = pd.to_datetime(cs_satisfaction_data['issue_reported_at'], format = '%d/%m/%Y %H:%M')
cs_satisfaction_data['issue_responded_at'] = pd.to_datetime(cs_satisfaction_data['issue_responded_at'], format = '%d/%m/%Y %H:%M')
cs_satisfaction_data.dtypes

channel_name                  object
category                      object
sub_category                  object
customer_remarks              object
issue_reported_at     datetime64[ns]
issue_responded_at    datetime64[ns]
agent_name                    object
supervisor                    object
manager                       object
tenure_bucket                 object
agent_shift                   object
csat_score                     int64
dtype: object

In [20]:
# Let's save our new file as a csv

cs_satisfaction_data.to_csv('cs_satisfaction_data', index = False, sep = ';')

In [21]:
# End of data cleaning process